@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root{
    --font-color-black-background: #222222;
    --font-color-white-font: #fbfbfb;
    --font-color-beige-background: #F1E4E6;
    --font-pink-color: #F16D7F;

    --font-lato-regular: 'Lato', sans-serif;
    --font-lato-italic: 'Lato', italic;
}


body{
    margin: 0;
}

header, footer{
    min-height: 75px;
    background: var(--font-color-black-background);
    padding: 18px 15px;
    box-sizing: border-box;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-width: 1600px){
    .container{
        margin: 0 auto;
        width: 1140px;
    }

    .left-part{
        box-sizing: border-box;
    }

    .right-part{
        padding-right: 230px;
        box-sizing: border-box;
    }
}

@media (min-width: 768px){
    header{
        padding-left: 32px;
        padding-right: 32px;
    }
}


.account-icon, 
.basket-icon-wrap{
    display: none;
}

@media (min-width: 768px){
    .account-icon, 
    .basket-icon-wrap{
        display: inline;
}
}


.search-icon{
    padding-left: 40px;
}


.account-icon{
    margin-left: 25px;
}

.basket-icon{
    margin-left: 40px;
}


.basket-icon-wrap{
    position: relative;
}

.basket-icon-wrap span{
    display: inline-block; 
    width: 20px;
    height: 20px;
    color: var(--font-color-white-font);
    background: var(--font-pink-color);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    font-family: var(--font-lato-regular), sans-serif;
    font-size: 12px;
    line-height: 19px;
}



/*СЛОГАН*/
.slogan-wrap-left{
    display: none;
}

@media(min-width: 768px){
    .slogan-wrap-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slogan-wrap{
    min-height: 320px;
    position: relative;
}

.slogan-inside-wrap{
    min-height: inherit;
}

.slogan-wrap-right{
    background: var(--font-color-beige-background);
    min-height: inherit;

    display: flex;
   /* justify-content: center;*/
    align-items: center;

    padding-left: 40px;
    height: 60px;
}

.slogan-text{
    color: var(--font-color-black-background);
    font-family: var(--font-lato-regular);
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    border-left: 12px solid var(--font-pink-color);
    padding-left: 15px;
}

.slogan-text div:last-child{
    font-weight: 700;
    font-size: 20px;
    margin-top: -5px;
}

.slogan-text span{
    color: var(--font-pink-color);
}


@media (min-width: 768px){
    .slogan-inside-wrap{
        display: flex;
    }

    .slogan-inside-wrap > div{
        width: 50%;
    }

    .slogan-wrap-left
    .slogan-wrap-left img{
        min-height: inherit;
    }

    .slogan-wrap-left img{
        width: 384.786px;
        height: 369.048px;
        object-fit: contain;
    }


    .slogan-wrap-right{
        padding-left: 50px;
        height: inherit;
    }

    .slogan-text div:first-child{
        font-size: 44px;
    }

    .slogan-text div:last-child{
        font-size: 24px;
    }
}

@media(min-width:1600px){
    .slogan-wrap-left img{
        width: 800px;
        height: 765px;
    }

    .slogan-wrap-right{
        padding-left: 65px;
    }
}


/*затемнение*/
.slogan-dark{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0, 0.5);
}

.hidden{
    display: none;
}


/*МЕНЮ*/
nav{
    height: inherit;
    max-height: inherit;
    width: 230px;
    background: var(--font-color-white-font);
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.menu-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color:var(--font-color-black-background);
    margin-bottom: 20px;
}

.menu-header{
    color: var(--font-pink-color);
    font-size: 14px;
    font-family: var(--font-lato-regular);
    line-height: 30px;
}

.menuClose{
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu-unit a{
    display: block;
    text-decoration: none;
    color: #6F6E6E;
    font-size: 14px;
    font-family: Lato;
    line-height: 30px;
    margin-left: 20px;
}


/*ОФФЕРЫ*/
.current-offers-wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 245px) 110px;
    row-gap: 32px;
    padding: 64px 16px;
}

@media(min-width: 768px){
    .current-offers-wrap{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 165px 115px;
        gap: 20px;
    }

    .current-offer:last-child{
        grid-column: 1/-1;
    }
}

.current-offers-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}


/*расположение текста на*/
.current-offer{
    position: relative;
}

.text-on-offer-title{
    position: relative;
    z-index: 1;
    color: var(--font-color-white-font);

    /*чтобы растянуть title*/
    width: 100%; 
    height: 100%;

    /*центрирование текста*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16px;
}

.text-on-offer-bottom{
    color: var(--font-pink-color);
    font-weight: 700;
    font-size: 24px;
}



/*main catalog*/
main .container{
    margin: 15px 16px;
    box-sizing: border-box;

}

.main-header{
    color: var(--font-color-black-background);
    font-size: 30px;
    font-family: var(--font-lato-regular);
    font-weight: 700;

    text-align: center;

    padding: 0 20px 65px;
}

.main-header div:last-child{
    font-size: 14px;
    font-weight: 400;
}

main img{
    width: 100%;
    display: block;
}

.top-item{
    margin-bottom: 15px;
    background: var(--font-color-beige-background);
}


.item-description-wrap{
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 23px;
    font-family: var(--font-lato-regular);
    background: var(--font-color-white-font);
}

.item-description-title{
    color: var(--font-color-black-background);
    font-size: 13px;
    font-weight: 700;
}

.item-description-text{
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    padding-top:12px;
    padding-bottom: 18px;
}

.item-price{
    padding-bottom: 18px;
    color: #F16D7F;
    font-size: 16px;
}


.items-wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

@media(min-width: 768px){
    .items-wrap{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 15px;
    }
}

@media(min-width: 1600px){
    .items-wrap{
        grid-template-columns: repeat(3, 1fr);;
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    main .container{
        margin: 0 auto;
    }
}


/*кнопка с корзиной при наведении на item*/
.items-img-wrap-inside{
    position: relative;
}

.dark-bottom-cart{
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 58, 0.8);

    justify-content: center;
    align-items: center;
}

.dark-bottom-cart button{
    background: none;
    border: 1px solid var(--font-color-white-font);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-family: var(--font-lato-regular);
    font-size: 14px;
}

.dark-bottom-cart button img{
    width: 26px;
    height: 24px;
    margin-right: 11px;
}


.top-item:hover .dark-bottom-cart{
    display: flex;
}


/*кнопка browse all products */
.main-button-browse-all-products{
    border: 1px solid var(--font-pink-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 95px;
    padding: 15px 40px;
    background: none;
    color: var(--font-pink-color);
    font-family: var(--font-lato-regular);
    font-size: 15px;
    line-height: 19px;
}

.main-button-browse-all-products:hover{
    color: white;
    background: var(--font-pink-color);
}





/*ASIDE*/
aside{
    background: var(--font-color-black-background);
    font-family: var(--font-lato-regular);
    color: var(--font-color-white-font);
    height: 610px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 80px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 45px;
}

@media(min-width: 1200px){
    aside{
        height: 340px;
        padding-top: 100px;
        padding-bottom: 100px;
}

    aside .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
        margin: 0 auto;
    }

}

.aside-wrap{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}


.aside-header{
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.aside-info{
    font-family: inherit;
    font-size: 13px;
    font-weight: 400px;
    text-align: center;
}




/*subscribe*/
.subscribe{
    background: url(images/subscribe/background.png) no-repeat;
    background-size: cover;

    padding-top: 65px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width: 1200px){
    .subscribe {
        padding-top: 97px;
        padding-bottom: 126px;
    }

    .subscribe .container {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        justify-content: space-around;
    }
}

.subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeLeft img{
    padding-bottom: 30px;
}

.subscribeUserText{
    color: var(--font-color-black-background);
    text-align: center;
    font-family: var(--font-lato-regular);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 60px;
    max-width: 360px;
}

@media(min-width: 768px){
    .subscribeUserText{
        height: 100px;
        font-size: 20px;
    }
}


.italic{
    font-family: var(--font-lato-italic);
    font-style: italic;
}


.subscribeRight{
    display: flex;
    flex-direction: column;
    color: var(--font-color-black-background);
    text-align: center;
    font-family: var(--font-lato-regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.768px;
}

@media(min-width: 1200px){
    .subscribeRight{
        padding-top: 40px;
    }
}

.subscribeText{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 25px;
}


/*форма для email*/
.subscribeForm{
    height: 45px;
    margin: 0 auto;
}

.subscribeForm input{
    height: inherit;
    background: #E1E1E1;
    float: left;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-sizing: border-box;
    padding: 5px 20px;
    border: none;
    width: 180px;
}

/* WebKit, Edge */
.subscribeForm input::-webkit-input-placeholder {
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }
  /* Firefox 4-18 */
  .subscribeForm input:-moz-placeholder { 
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }
  /* Firefox 19+ */
  .subscribeForm input::-moz-placeholder { 
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }
  /* IE 10-11 */
  .subscribeForm input:-ms-input-placeholder { 
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }
  /* Edge */
  .subscribeForm input::-ms-input-placeholder { 
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }
  /* MODERN BROWSER */
  .subscribeForm input::placeholder { 
    color: var(--font-color-black-background);
    opacity: 0.67;
    font-family: inherit;
  }


.subscribeForm button{
    height: inherit;
    background: var(--font-pink-color);
    border: none;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: var(--font-color-beige-background);
    font-size: 14px;
    line-height: 17px;
    padding: 0 17px;
    float: left;
}



/*FOOTER*/

footer{
   background: var(--font-color-black-background);
   padding: 43px 20px 10px;
}

@media(min-width: 768px){
    footer{
        padding: 24px 30px;
    }
    
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    footer .container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}


footer a{
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:not(:last-child){
    margin-right: 7px;
}

footer .left-part{
    display: flex;
}

footer .right-part{
    color: var(--font-color-white-font);
    font-size: 16px;
    font-family: var(--font-lato-regular);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media(max-width: 767px){
    footer .right-part{
        margin-top: 40px;
    }
}